In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# Ejercicios 1-Creaciòn de DataFrames

In [4]:
df1 = pd.DataFrame({'numeros': range(20)})
df1

    numeros
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19

In [ ]:
#Ejercicio 1.b

In [5]:
df2 = pd.DataFrame({"numeros":np.random.randint(0,2,10)})
df2

   numeros
0        1
1        1
2        1
3        1
4        0
5        1
6        0
7        0
8        0
9        1

In [31]:
#Ejercicio 1.c

In [8]:
df3= pd.concat([df1, df2], axis=1)
df3

    numeros  numeros
0         0      1.0
1         1      1.0
2         2      1.0
3         3      1.0
4         4      0.0
5         5      1.0
6         6      0.0
7         7      0.0
8         8      0.0
9         9      1.0
10       10      NaN
11       11      NaN
12       12      NaN
13       13      NaN
14       14      NaN
15       15      NaN
16       16      NaN
17       17      NaN
18       18      NaN
19       19      NaN

In [15]:
#Ejercicio 1.d

In [10]:
df3.to_csv("df3.csv", index=False)

In [14]:
#Ejercicio 2. Indexación y selección

In [18]:
df = pd.DataFrame({
"A": range(1, 11),
"B": [5,3,6,8,2,9,1,7,4,10]
 })
df

    A   B
0   1   5
1   2   3
2   3   6
3   4   8
4   5   2
5   6   9
6   7   1
7   8   7
8   9   4
9  10  10

In [19]:
df[df["B"] > 5]

    A   B
2   3   6
3   4   8
5   6   9
7   8   7
9  10  10

In [21]:
#Ejercicio 2.b

In [24]:
df.loc[df["B"] < 4, "B"] = pd.NA
df

    A     B
0   1   5.0
1   2   NaN
2   3   6.0
3   4   8.0
4   5   NaN
5   6   9.0
6   7   NaN
7   8   7.0
8   9   4.0
9  10  10.0

In [25]:
#Ejercicio 3. Anàlisis de Datos

In [28]:
df_wine = pd.read_csv("winequality-red.csv", delimiter= ";")
df_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [29]:
df_wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [30]:
#Ejercicio 3.b

In [32]:
bins = [-1, 4, 6, 10]
labels = ['Malo','Regular', 'Bueno']
df_wine["quality_categorica"] = pd.cut(df_wine.quality, bins, labels=labels) # include_lowest=True
df_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_categorica
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Regular
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,Regular
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,Regular
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,Regular
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,Regular
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,Regular
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,Regular
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,Regular
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,Regular

In [36]:
#Ejercicio 3.c

In [35]:
df_wine1 = df_wine[df_wine["quality_categorica"] != "Malo"]
df_wine1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_categorica
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Regular
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,Regular
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,Regular
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,Regular
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,Regular
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,Regular
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,Regular
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,Regular
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,Regular

In [ ]:
#Ejercicio 3.d

In [39]:
df_wine["%_citric_acid"] = df_wine["citric acid"] * 100
df_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_categorica,citric_acid_porcentaje,%_citric_acid
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Regular,0.0,0.0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,Regular,0.0,0.0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,Regular,4.0,4.0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,Regular,56.0,56.0
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Regular,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,Regular,8.0,8.0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,Regular,10.0,10.0
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,Regular,13.0,13.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,Regular,12.0,12.0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,Regular,47.0,47.0

In [ ]:
#Ejercicio 3.e

In [40]:
df_wine.sort_values("pH", ascending=False).head(7)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_categorica,citric_acid_porcentaje,%_citric_acid
1316,5.4,0.740,0.00,1.20,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,6,Regular,0.0,0.0
1321,5.0,0.740,0.00,1.20,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,6,Regular,0.0,0.0
695,5.1,0.470,0.02,1.30,0.034,18.0,44.0,0.99210,3.90,0.62,12.8,6,Regular,2.0,2.0
95,4.7,0.600,0.17,2.30,0.058,17.0,106.0,0.99320,3.85,0.60,12.9,6,Regular,17.0,17.0
1111,5.4,0.420,0.27,2.00,0.092,23.0,55.0,0.99471,3.78,0.64,12.3,7,Bueno,27.0,27.0
1300,5.2,0.645,0.00,2.15,0.080,15.0,28.0,0.99444,3.78,0.61,12.5,6,Regular,0.0,0.0
553,5.0,1.040,0.24,1.60,0.050,32.0,96.0,0.99340,3.74,0.62,11.5,5,Regular,24.0,24.0

In [41]:
#Crear un fichero .py.a

In [42]:
import Ejercicio3

In [46]:
from Ejercicio3 import eliminaDecimales

In [47]:
df_wine = eliminaDecimales(df_wine, "citric acid")
df_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_categorica,citric_acid_porcentaje,%_citric_acid,citric acid_sin_decimales
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Regular,0.0,0.0,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,Regular,0.0,0.0,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,Regular,4.0,4.0,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,Regular,56.0,56.0,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Regular,0.0,0.0,0

In [49]:
#.py.b

In [56]:
import Ejercicio3b

In [57]:
from Ejercicio3b import calculaRatio

In [59]:
df_wine = calculaRatio(df_wine, "citric acid", "residual sugar")
df_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_categorica,citric_acid_porcentaje,%_citric_acid,citric acid_sin_decimales,citric acid_ratio_residual sugar
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Regular,0.0,0.0,0,0.000000
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,Regular,0.0,0.0,0,0.000000
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,Regular,4.0,4.0,0,0.017391
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,Regular,56.0,56.0,0,0.294737
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Regular,0.0,0.0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,Regular,8.0,8.0,0,0.040000
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,Regular,10.0,10.0,0,0.045455
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,Regular,13.0,13.0,0,0.056522
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,Regular,12.0,12.0,0,0.060000
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,Regular,47.0,47.0,0,0.130556

In [ ]:
#Aplica la primera funci´on a la columna alcohol y la segunda a las columnas total sulfur dioxide y free sulfur dioxide.

In [60]:
import Ejercicio3

In [61]:
from Ejercicio3 import eliminaDecimales

In [62]:
df_wine = eliminaDecimales(df_wine, "alcohol")
df_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_categorica,citric_acid_porcentaje,%_citric_acid,citric acid_sin_decimales,citric acid_ratio_residual sugar,alcohol_sin_decimales
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Regular,0.0,0.0,0,0.000000,9
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,Regular,0.0,0.0,0,0.000000,9
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,Regular,4.0,4.0,0,0.017391,9
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,Regular,56.0,56.0,0,0.294737,9
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Regular,0.0,0.0,0,0.000000,9

In [63]:
import Ejercicio3b

In [65]:
from Ejercicio3b import calculaRatio

In [67]:
df_wine = calculaRatio(df_wine, "free sulfur dioxide","total sulfur dioxide")
df_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_categorica,citric_acid_porcentaje,%_citric_acid,citric acid_sin_decimales,citric acid_ratio_residual sugar,alcohol_sin_decimales,free sulfur dioxide_ratio_total sulfur dioxide
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Regular,0.0,0.0,0,0.000000,9,0.323529
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,Regular,0.0,0.0,0,0.000000,9,0.373134
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,Regular,4.0,4.0,0,0.017391,9,0.277778
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,Regular,56.0,56.0,0,0.294737,9,0.283333
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Regular,0.0,0.0,0,0.000000,9,0.323529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,Regular,8.0,8.0,0,0.040000,10,0.727273
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,Regular,10.0,10.0,0,0.045455,11,0.764706
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,Regular,13.0,13.0,0,0.056522,11,0.725000
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,Regular,12.0,12.0,0,0.060000,10,0.727273
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,Regular,47.0,47.0,0,0.130556,11,0.428571