In [20]:
import numpy as np

In [21]:
import pandas as pd

In [22]:
# Ejercicios 1-Creaci√≤n de DataFrames

In [23]:
df1 = pd.DataFrame({'numeros': range(20)})

print(df1)

    numeros
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19